{% extends "layout.html" %}
{% set active_page = 'start' %}

{% block style %}
<link href="{{ url_for('static', filename='external/css/bootstrap-datepicker3.standalone.min.css' ) }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/start.css' ) }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div id="chat-wrapper" class="main col-md-4 col-lg-4 col-sm-12">
	<div id="chat-title-wrapper" class="col-sm-12 col-md-12 col-lg-12">
		<h4 id="chat-title"><img id="amp_logo" src="{{ url_for('static', filename='img/kpmg_logo_circle.png') }}">  Accounting Virtual Assistant</h4>
	</div>
	<div id="chat-message-wrapper" class="col-sm-12 col-md-12 col-lg-12">
		{% for m in messages %}
		<div class="chat-message {{m.who}}">{{m.message}}</div>
		{% endfor %}
	</div>
	<div id="chat-button-wrapper" class="col-sm-12 col-md-12 col-lg-12">
	</div>
	<div id="chat-input-wrapper" class="col-sm-12 col-md-12 col-lg-12 {% if locked %}locked{% endif %}">
		<input type="text" id="chat-input" placeholder="{% if locked %}Please select an option above{% else %}Send a message...{% endif %}" {% if locked %}disabled{% endif %} />
		<button id="chat-submit-btn" class="btn btn-default"><i class="fa fa-paper-plane"></i></button>
	</div>
</div>
<div id="additional-wrapper" class="main col-md-8 col-lg-8 col-sm-12">
	<div id="breadcrumb-wrapper" class="row">
		<ul class="custom-breadcrumb">
		</ul>
	</div>
	<div id="tile-wrapper" class="row">
		{% for tile in tiles %}
		<div class="tile col-sm-12 col-md-12 col-lg-12">
			<h4 class="tile-title">{{tile.title}}</h4>
			<div class="tile-body">{{tile.body | safe}}</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='external/js/bootstrap-datepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='external/locales/bootstrap-datepicker.en-AU.min.js') }}"></script>
<script>
/* Jinja vars for JS */
var messageSendURL = "{{ url_for('message') }}";
var inlineSaveURL = "{{ url_for('inline_save') }}";
var getValidationTileURL = "{{ url_for('get_validation_tile') }}";
// var breadcrumbs = {{ breadcrumbs | safe }};
// var breadcrumb_current = {{ breadcrumb_current | safe }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/start.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/inline-save.js') }}"></script>
<script>
/* Page load */
{% if buttons %}buttonsAdd({{buttons|safe}});{% endif %}
</script>
{% endblock %}

