<div id="status" class="label label-success">no changes made</div>
<div class="row col-md-12 col-sm-12 col-lg-12">
<table class="table table-responsive">
	<tr><th>First name</th><td id="firstName" class="editable"><input type="text" value="John" /></td></tr>
	<tr><th>Middle name(s)</th><td  id="middleNames" class="editable"><input type="text" value="Joe Jack" /></td></tr>
	<tr><th>Last name</th><td  id="lastName" class="editable"><input type="text" value="Doe" /></td></tr>
	<tr><th>Date of birth</th><td  id="dateOfBirth" class="editable"><input type="text" value="05/09/1990" /></td></tr>
	<tr><th>Address</th><td id="residentialAddress" class="editable"><input type="text" value="123 ABC Lane, Sydney" /></td></tr>
	<tr><th>Employment Start Date</th><td id="employmentStartDate" class="editable"><input type="text" value="08/01/2017" /></td></tr>
	<tr><th>Job title</th><td id="jobTitle" class="editable"><input type="text" value="Senior Analyst" /></td></tr>
	<tr><th>Office location</th><td id="officeLocation" class="editable"><input type="text" value="AMP Circular Quay" /></td></tr>
	<tr><th>Employment type</th><td id="jobType" class="editable"><input type="text" value="Part-time" /></td></tr>
</table>
</div>
<div class="row col-md-12 col-sm-12 col-lg-12">
If this is correct, please type 'continue' to continue.
</div>
