
<style>
    
</style>



<table class="table table-responsive">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Standard</th>
        <th scope="col">Example Engagements</th>
        <th scope="col">Applicable Manuals</th>
        <th scope="col">Engagement Tools Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>ASA 700</th>
        <td>Public and large pty reporting entities, other entities using GP framework</td>
        <td>KAM, Australian Standard Reports Manual</td>
        <td>
          <a href ="http://alex.kworld.kpmg.com/AROWeb/Home.aspx?link=Australia+Engagement+Tools_Financial+Statement+Audit+and+Interim+Reviews+(ASRE+2410)_Public+and+Large+Company_Current+reporting+periods|qdom=AU" target="_blank">Public Large Pty</a>
          <a href="http://alex.kworld.kpmg.com/AROWeb/Home.aspx?link=Australia+Engagement+Tools_Regulatory+Audit+and+Assurance+Engagements_Managed+Investment+Schemes_Financial+Reports|qdom=AU" target="_blank">Regulatory/MIS/Financial reports</a>
        </td>
      </tr>
    <!--
      <tr>
        <th>ASA 800</th>
        <td>Large/Small pty non reporting entities, other entities preparing reports under SP framework</td>
        <td>KAM, Australian Standard Reports Manual</td>
        <td>Public and Large Pty (non reporting entities)
            Small Pty
            Regulatory/Other/Various reports in other</td>
      </tr>
      <tr>
        <th>ASA 805</th>
        <td>Single financial statements, specific elements, accounts or items, Grant acquittals,
            Receipts/expenditure audits
            Component engagements Most completion accounts</td>
        <td>KAM, Australian Standard Reports Manual, Group reporting pack for component engagements</td>
        <td>Other review (ASRE) and auditing (ASA) engagements
            Regulatory/Other/Grant Audits Regulatory/Other/Property Outgoings Audit
            Regulatory/Other/Various reports in other
            Component engagement tools – only for group reporting engagements</td>
      </tr>
      <tr>
        <th>ASA 810</th>
        <td>Summary financial statements</td>
        <td>Australian Standard Reports Manual</td>
        <td>Other review (ASRE) and auditing (ASA) engagements</td>
      </tr>
    -->
    </tbody>
  </table>