
<style>
    
</style>



<table class="table table-responsive">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Term</th>
        <th scope="col">Definition</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <a href ="http://www.auasb.gov.au/Pronouncements/Glossary-of-defined-terms/Definitions-R.aspx" target="_blank">Reasonable assurance engagement</a>
        </th>
        <td>An assurance engagement where the assurance practitioner’s objective is a reduction in assurance engagement risk to an acceptably low level in the circumstances of the assurance engagement as the basis for a positive form of expression of the assurance practitioner’s conclusion.  A reasonable assurance engagement is commonly referred to as an audit.</td>
      </tr>

      <tr>
        <th>
          <a href ="http://www.auasb.gov.au/Pronouncements/Glossary-of-defined-terms/Definitions-L.aspx" target="_blank">Limited assurance engagement</a>
        </th>
        <td>An assurance engagement where the assurance practitioner’s objective is a reduction in assurance engagement risk to a level that is acceptable in the circumstances of the assurance engagement, but where that risk is greater than for a reasonable assurance engagement, as the basis for a negative form of expression of the assurance practitioner’s conclusion.  A limited assurance engagement is commonly referred to as a review.</td>          
      </tr>
   
    </tbody>
  </table>