<table class="table table-responsive">
	<tr><th>Principal and interest</th><th>Interest only</th></tr>
	<tr><td>What is a principal and interest home loan?
	<br/>
	As the name suggests, your loan repayments go towards paying both the principal (the amount you borrow) and the interest (which is calculated over the term of the loan).
	</td><td>What is an interest only home loan?
	<br/>
	You only pay back the interest charged on the loan and not the principal amount (the original amount borrowed).
	</td></tr>
</table>
